<div class="jumbotron" id="city_jumbotron" style="background-image: url(<%= @restraunt.restraunt_image %>)">
  <h1><%= @restraunt.name %>, <%= @restraunt.city.name %></h1>
</div>




<%= link_to 'Edit', edit_city_restraunt_path %> |
<%= link_to 'Back', "#" %>

